/**
 * MIXINS
 */

$tablet-landscape: 1024px
$tablet-portrait: 768px
$wide-layout: 600px

=respond-to($media)
  @if $media == tablet-landscape
    /* Landscape tablet and desktop */
    @media only screen and (min-width : $tablet-landscape)
      @content
  @else if $media == tablet-portrait
    /* Landscape phone to portrait tablet */
    @media only screen and (max-width : $tablet-portrait)
      @content
  @else if $media == wide-layout
    @media only screen and (min-width : $wide-layout)
      @content

=scrollable( $axis )
  overflow-#{$axis}: scroll
  -webkit-overflow-scrolling: touch

=transition( $transition, $hardware-accelerate: true )
  @each $prefix in $prefixes
    #{$prefix}-transition: unquote($transition)
  transition: unquote($transition)
  @if $hardware-accelerate
    @extend %ha

=transform( $arguments... )
  @each $prefix in $prefixes
    #{$prefix}-transform: $arguments
  transform: $arguments

=filter( $arguments... )
  @each $prefix in $prefixes
    #{$prefix}-filter: $arguments
  filter: $arguments

=circle( $radius )
  display: block
  width: $radius
  height: $radius
  border-radius: $radius

=square( $size )
  width: $size
  height: $size

=clearfix
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both
